name: hex2lpc8xx build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
      - name: Display the path
        run: echo $PWD
        shell: bash
      - name: make
        working-directory: ./tools/hex2lpc8xx
        run: echo $PWD`
        shell: bash
